/**/logs/**
/**/.venv/**
/**/__pycache__/**
/**/uv.lock
/**/.env
/**/*.py[oc]
/**/build/
/**/dist/
/**/wheels/
/**/*.egg-info
/**/.vscode

assets/input/*
!assets/input/.gitkeep
assets/output/*
!assets/output/.gitkeep